//VARIABLES
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-desaturated-cyan: hsl(167, 40%, 24%);
$dark-blue: hsl(198, 62%, 26%);
$dark-moderate-cyan: hsl(168, 34%, 41%);
//
$very-dark-desaturated-blue: hsl(211, 28%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

$bg-footer: hsl(167, 44%, 70%);

@import "general";
//@import "mockup";
@import "hero-section";
@import "navbar";
@import "middle-section";
@import "clients";
@import "gallery-section";
@import "footer";